
.icon-off:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-pied-piper-squared:before { content: '\f1a7'; } /* '' */
.icon-pied-piper-alt:before { content: '\f1a8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */